body {
  color: #40514E;
  text-align: center;
  margin: 0;
}

h1 {
  margin: 0 auto 0 auto;
  padding-top: 100px;
  font-size: 4.625rem;
  font-family: 'Sacramento', cursive;
  color: #277BC0;
}

h2 {
  font-weight: normal;
  color: #277BC0;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 7%
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  background-color: gold;
}
/*********************DIV********************/
.visual {
  background-color: #EAF6F6;
}

.mountain {
  display: inline-block;
}

.cloud1 {
  position: absolute;
  right: 200px;
  top: 30px;
}

.cloud2 {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.cloud3 {
  position: absolute;
}

.intro {
  width: 30%;
  margin: auto;
}

.profile {
  margin-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.program {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.pharmacist {
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 20px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me {
  padding-top: 30px;
  padding-bottom: 100px;
}
.copyright{ color:#748DA6;
font-size: 0.75rem;}
.bottom-container {
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: #66BFBF;
}
